.container
  .card.text-center
    .card-header
      Daily Report
    .card-body
      %table.daily-report_table
        %thead
          %tr
            -(Project.min_date.to_date..Date.today).each_with_index do |date, index|
              %th= index.zero? ? 'Resource' : date
        %tbody
          - @report.each do |resource, hash|
            %tr
              - (Project.min_date.to_date..Date.today).each_with_index do |date, index|
                - if index.zero?
                  %td= resource
                - else
                  %td= hash[date]&.round(3) || 0
